@import "tailwindcss/utilities" layer(utilities);

@source "./components/ElectricBorder.vue";

.electric-border-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.electric-border-canvas.electric-border-visible {
  visibility: visible;
}
